version: '3'
services:
  app:
    privileged: true
    container_name: archive_service

    # uncomment if you build from source
    # build: .
    
    image: vcloudorg/archive_service:latest
    command: npm run start
    restart: unless-stopped
    volumes:
    - ./config:/app/config
    - ./temp_archive:/app/temp_archive
    - ./storage:/app/storage